<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />

        <title><%- htmlWebpackPlugin.options.title %></title>

        <meta name="description" content="<%- htmlWebpackPlugin.options.description %>" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui" />
        <link rel="canonical" href="https://www.pixiplayground.com"/>
        <link rel="alternate" hreflang="en" href="https://www.pixiplayground.com" />

        <!-- OG Tags -->
        <meta property="og:url" content="<%- htmlWebpackPlugin.options.url %>">
        <meta property="og:image" content="https://pixiplayground.com/android-chrome-96x96.png">
        <meta property="og:image:width" content="96">
        <meta property="og:image:height" content="96">
        <meta property="og:image:alt" content="The letters 'JS'.">
        <meta property="og:type" content="website">
        <meta property="og:title" content="<%- htmlWebpackPlugin.options.title %>">
        <meta property="og:description" content="<%- htmlWebpackPlugin.options.description %>">

        <!-- Twitter Card Tags -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@rolnaaba" />
        <meta name="twitter:title" content="<%- htmlWebpackPlugin.options.title %>" id="meta-twitter-title" />
        <meta name="twitter:description" content="<%- htmlWebpackPlugin.options.description %>" />
        <meta name="twitter:image" content="https://pixiplayground.com/android-chrome-96x96.png" />
        <meta name="twitter:image:alt" content="The letters 'JS'." />

        <!-- App icons and favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <meta name="theme-color" content="#ffffff">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103772589-7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-103772589-7');
        </script>

        <!--Hello iOS/MacOS! PEP Polyfill-->
        <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>

    </head>
    <body>
        <div id="jsx-wrapper" class="fullheight"></div>
        <noscript style="position:absolute;top:0;">
            <h1>Looks like you have JavaScript disabled!</h1>
            <h2>You will need to enable it to enjoy Pixi Playground</h2>
        </noscript>
    </body>
</html>
